workflows/evolution-whatsapp-rag-calendar-agent.json
{
  "name": "Evolution WhatsApp RAG Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "content": "Configura este workflow antes de activarlo:\n\n1. Asigna credenciales a `OpenAI Chat Model`, `Embeddings OpenAI` y `Redis Chat Memory`.\n\n2. Asigna credenciales PostgreSQL al nodo `RAG Company Knowledge` con host `postgres`, puerto `5432`, base `rag`.\n\n3. Edita el nodo `Normalize Evolution Message` para poner tu `evolutionApiKey` real si no quieres gestionarlo por credenciales.\n\n4. Configura el nodo `Google Calendar MCP Tool` apuntando a tu servidor MCP.\n\n5. En Evolution configura el webhook de entrada hacia la URL de producción de este workflow.\n\nEste flujo está pensado para mensajes entrantes de WhatsApp, agrupa mensajes recibidos en una ventana de 5 segundos y solo deja continuar a la última ejecución.",
        "height": 350,
        "width": 493,
        "color": 7
      },
      "id": "dcefb007-8d06-4b64-abbe-124861839907",
      "name": "Notas de Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        32
      ]
    },
    {
      "parameters": {
        "content": "El agente usa dos capas de contexto:\n\n- Redis Buffer: agrupa varios mensajes seguidos en 5 segundos\n- Redis Chat Memory: mantiene memoria conversacional entre turnos\n\nEl RAG va como herramienta de consulta y Google Calendar entra por MCP Tool para crear, consultar, modificar y cancelar citas.",
        "height": 260,
        "width": 401,
        "color": 5
      },
      "id": "27326708-c570-43fa-8ea8-f3b44726194c",
      "name": "Notas de Arquitectura",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1664,
        128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-whatsapp-agent",
        "options": {
          "responseData": "ok"
        }
      },
      "id": "0b9419ab-0d5f-4560-af22-82ff315a9779",
      "name": "Evolution Incoming Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -704,
        448
      ],
      "webhookId": "evolution-whatsapp-agent"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? $json;\nconst data = body.data ?? body;\nconst key = data.key ?? {};\nconst message = data.message ?? {};\nconst fromMe = key.fromMe ?? data.fromMe ?? false;\nconst remoteJid = key.remoteJid ?? data.remoteJid ?? data.from ?? body.sender ?? '';\nconst text = message.conversation ?? message.extendedTextMessage?.text ?? message.imageMessage?.caption ?? message.videoMessage?.caption ?? data.body ?? body.body ?? '';\nif (fromMe || !remoteJid || !text) {\n  return [];\n}\nconst messageId = key.id ?? data.id ?? `${Date.now()}`;\nconst instanceName = body.instance ?? body.instanceName ?? data.instance ?? 'CHANGE_ME';\nconst sessionId = remoteJid.replace(/[^a-zA-Z0-9:_-]/g, '_');\nconst pushName = data.pushName ?? body.pushName ?? '';\nreturn {\n  json: {\n    rawBody: body,\n    remoteJid,\n    pushName,\n    text,\n    chatInput: text,\n    messageId,\n    instanceName,\n    sessionId,\n    memorySessionId: `wa-memory:${sessionId}`,\n    bufferKey: `wa-buffer:${sessionId}`,\n    evolutionBaseUrl: 'http://evolution-api:8080',\n    evolutionApiKey: 'change-me',\n    googleCalendarMcpUrl: 'http://host.docker.internal:3001/mcp'\n  }\n};"
      },
      "id": "ce657a26-6514-418c-9928-6423d09cfdef",
      "name": "Normalize Evolution Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        448
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "bufferSnapshot",
        "key": "={{ $json.bufferKey }}",
        "keyType": "string",
        "options": {}
      },
      "id": "df42414e-3576-4de7-b805-9849ae0a99cb",
      "name": "Get Buffer Snapshot",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -240,
        448
      ],
      "credentials": {
        "redis": {
          "id": "ojrnwrI50piCjytq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let previous = null;\ntry {\n  previous = $json.bufferSnapshot ? JSON.parse($json.bufferSnapshot) : null;\n} catch (error) {\n  previous = null;\n}\nconst now = Date.now();\nconst withinWindow = previous && Number(previous.updatedAt || 0) >= now - 5000;\nconst mergedText = [withinWindow ? previous.text : '', $json.text].filter(Boolean).join('\\n');\nconst debounceToken = `${$json.messageId}:${now}`;\nconst payload = {\n  token: debounceToken,\n  text: mergedText,\n  updatedAt: now,\n  remoteJid: $json.remoteJid,\n  pushName: $json.pushName,\n  instanceName: $json.instanceName\n};\nreturn {\n  json: {\n    ...$json,\n    chatInput: mergedText,\n    debounceToken,\n    bufferPayload: JSON.stringify(payload)\n  }\n};"
      },
      "id": "074193fd-3153-4ccb-a8ef-e0f68d3addc5",
      "name": "Merge 5s Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        448
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.bufferKey }}",
        "value": "={{ $json.bufferPayload }}"
      },
      "id": "55975fb1-2a24-44e8-962c-ce8b3fdb7c0a",
      "name": "Set Buffer Snapshot",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        208,
        448
      ],
      "credentials": {
        "redis": {
          "id": "ojrnwrI50piCjytq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "dd0feec7-57a2-41fc-819d-646e1a324d5f",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        432,
        448
      ],
      "webhookId": "d11c3cec-d378-4d28-8890-bea56e7d5eff"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "latestBuffer",
        "key": "={{ $json.bufferKey }}",
        "keyType": "string",
        "options": {}
      },
      "id": "49d2dc4f-1eb5-4643-be6a-73c64a6a1d39",
      "name": "Get Latest Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        656,
        448
      ],
      "credentials": {
        "redis": {
          "id": "ojrnwrI50piCjytq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let latest = null;\ntry {\n  latest = $json.latestBuffer ? JSON.parse($json.latestBuffer) : null;\n} catch (error) {\n  latest = null;\n}\nif (!latest || latest.token !== $json.debounceToken) {\n  return [];\n}\nreturn {\n  json: {\n    ...$json,\n    chatInput: latest.text,\n    groupedMessageText: latest.text\n  }\n};"
      },
      "id": "42da45e3-c487-4476-9100-e53e0c082ea3",
      "name": "Only Latest Execution Continues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        448
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asistente de WhatsApp para una empresa. Tu trabajo es responder con claridad, usando siempre el idioma del cliente, ser breve pero útil, consultar la base de conocimiento cuando pregunten por servicios, precios, procesos o información de empresa, y gestionar citas cuando el usuario quiera reservar, cambiar, cancelar o consultar disponibilidad.\\n\\nReglas:\\n- Usa la herramienta `company_knowledge` siempre que la pregunta requiera información de la empresa o políticas internas.\\n- Usa la herramienta MCP de Google Calendar para consultar disponibilidad, crear citas, mover citas y cancelarlas.\\n- Si una franja no está disponible, ofrece alternativas cercanas.\\n- No inventes disponibilidad ni datos de la empresa.\\n- Si falta información para reservar, pide solo los datos mínimos necesarios.\\n- La respuesta final debe ser texto plano, lista para enviar por WhatsApp.\\n- Nunca expliques herramientas internas, MCP, Redis o RAG al cliente.",
          "maxIterations": 8,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true,
          "enableStreaming": false
        }
      },
      "id": "8acef72e-fb75-4315-b855-a5de676f3ca3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1472,
        448
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3712b609-aeb7-49c9-a855-6edb2362fa9b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1296,
        656
      ],
      "credentials": {
        "openAiApi": {
          "id": "S1NjJm9gQuRwaRS7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.memorySessionId }}"
      },
      "id": "45f9b0de-ee87-4722-9892-50b5992ffee4",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.1,
      "position": [
        1504,
        656
      ],
      "credentials": {
        "redis": {
          "id": "ojrnwrI50piCjytq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge",
        "toolDescription": "Usa esta herramienta para responder preguntas sobre la empresa, servicios, condiciones, procesos, políticas, horarios y contexto del negocio usando la base vectorial local.",
        "tableName": "n8n_rag_documents",
        "topK": 5,
        "options": {
          "distanceStrategy": "cosine",
          "columnNames": {
            "values": {}
          }
        }
      },
      "id": "41f18d6f-166a-44df-9535-c08f217f416a",
      "name": "RAG Company Knowledge",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.2,
      "position": [
        1712,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "5QFG08UC09lIWpUQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 100,
          "stripNewLines": true
        }
      },
      "id": "aa007074-a901-49e0-83e2-22c560dc92a5",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1712,
        832
      ],
      "credentials": {
        "openAiApi": {
          "id": "S1NjJm9gQuRwaRS7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "=http://localhost:5678/mcp/30816c2a-30c6-4975-80ca-33de4443c96b",
        "options": {
          "timeout": 60000
        }
      },
      "id": "0094ebab-f757-422f-9538-3a7a19d68457",
      "name": "Google Calendar MCP Tool",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2032,
        640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const responseText = $json.output ?? $json.response ?? 'No he podido procesar tu solicitud ahora mismo.';\nconst targetNumber = ($json.remoteJid || '').replace(/@s\\.whatsapp\\.net$/, '').replace(/@g\\.us$/, '');\nreturn {\n  json: {\n    ...$json,\n    responseText,\n    targetNumber,\n    evolutionSendUrl: `${$json.evolutionBaseUrl}/message/sendText/${$json.instanceName}`\n  }\n};"
      },
      "id": "e4656dd7-327f-427a-9fd6-cba276765146",
      "name": "Prepare WhatsApp Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolutionSendUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolutionApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.targetNumber, text: $json.responseText } }}",
        "options": {}
      },
      "id": "1643e393-9631-4394-b8c9-5d471cd62db3",
      "name": "Send WhatsApp Reply via Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        448
      ]
    },
    {
      "parameters": {
        "path": "30816c2a-30c6-4975-80ca-33de4443c96b"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        2704,
        192
      ],
      "id": "b85e7951-3b5e-4701-aa1b-88cc3caefbf6",
      "name": "MCP Server Trigger",
      "webhookId": "30816c2a-30c6-4975-80ca-33de4443c96b"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2416,
        432
      ],
      "id": "27353670-0486-49ed-8e08-9f95770a55b6",
      "name": "Create an event in Google Calendar"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2624,
        432
      ],
      "id": "f21797fb-09ec-4c43-bda5-cad1c4b4aa72",
      "name": "Get many events in Google Calendar"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2848,
        448
      ],
      "id": "842a999e-4f3f-4b6f-b277-4233e37a2bae",
      "name": "Delete an event in Google Calendar"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3120,
        432
      ],
      "id": "87beaea6-7ef5-4d43-b4cb-8bc540b6201f",
      "name": "Update an event in Google Calendar"
    }
  ],
  "pinData": {},
  "connections": {
    "Evolution Incoming Webhook": {
      "main": [
        [
          {
            "node": "Normalize Evolution Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Evolution Message": {
      "main": [
        [
          {
            "node": "Get Buffer Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Buffer Snapshot": {
      "main": [
        [
          {
            "node": "Merge 5s Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 5s Buffer": {
      "main": [
        [
          {
            "node": "Set Buffer Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffer Snapshot": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Get Latest Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Buffer": {
      "main": [
        [
          {
            "node": "Only Latest Execution Continues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Latest Execution Continues": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "RAG Company Knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "RAG Company Knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar MCP Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply via Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2ed592cf-2fae-43a2-a01d-c3232fc90af0",
  "meta": {
    "instanceId": "d34dd12a0490352c9f09ebb59e0cea47edc60b2f37096b67b423756066a737d5"
  },
  "id": "v7lEPAoKVm3iAhR9",
  "tags": []
}